/* Container for the image and text */
.about-container {
    display: flex; /* Enables Flexbox layout */
    justify-content: space-between; /* Spaces out the items */
    align-items: flex-start; /* Aligns the image and text to the top */
    padding: 40px 40px 20px 20px; /* Optional padding for spacing */
}

/* Image container (left side) */
.about-image-container {
    flex: 1; /* Takes up 1/2 of the available space */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

/* Image styling */
.about-image {
    width: 100%; /* Image takes up 100% of the container width */
    max-width: 600px; 
    height: 720px; /* Maintain aspect ratio */
    border-radius: 20px; 
}

/* Text container (right side) */
.about-text-container {
    flex: 1; /* Takes up 1.5 times the space of the image */
    padding-left: 40px;
    padding-top: 100px; /* Optional padding between the image and text */
    display: flex;
    flex-direction: column; /* Stack text vertically */
    
}

/* Heading and Paragraph styling */
h1, h3 {
    margin-bottom: 15px;
     /* Space between headings */
}

p {
    margin-bottom: 15px; /* Space between paragraphs */
    font-size: 18px; /* Adjust text size */
    color: #555;
}
