/* General Styles for the Login and Register Forms */
body {
    font-family: Arial, sans-serif;
    background-color: #cecdcd;
    display: flex;
    flex-direction: column; /* Stack navbar and content vertically */
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #cecdcd;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 120px 40px 40px 40px;
    margin: 0;
    border-radius: 10px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    color: grey;
}

.nav-tabs .nav-link.active {
    background-color: red;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

form input, form button {
    font-size: 16px;
    width: 100%;
}

form button {
    display: inline-block;
    text-decoration: none;
    background-color: red;
    color: white; /* White text */
    padding: 15px 30px;
    border-radius: 30px; /* Oval shape */
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
}

form button:hover {
    background-color: red;
}
