
.quiz-result-content {
    display: flex;                
    justify-content:right;  
    align-items:flex-start;     
    padding: 20px;
    height: auto;                
    gap: 20px;                  
}

.coach-image-container {   
    margin-top: 20px;           
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;       
}

.coach-image {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    border-radius: 20px;       
}

.result-text-container {
    flex: 1;                      
    height: 50%;                
    display: flex;
    flex-direction: column;        
    justify-content: center;       
    padding-left: 20px;
    padding-bottom: 20px;          
    text-align: left;            
}

#result p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}


.res-btn-primary {
    margin-top: 20px;
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 30px;
    background-color: #ff0000;
    color: white;
}

.res-btn-primary:hover {
    background-color: darkred;
}
